<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.kbueschel.alfred.visualstudiocode</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>4DD30082-AABC-4CFA-8FC3-0738FA31C350</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A722A20-D801-4DAC-AA32-80052ADC87D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>76A26469-7BB5-46C5-ADFE-C95581EB9B95</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open project path(s) in finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>16C325FD-9D57-4988-9A88-CE69B2EF34FA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open project path(s) in terminal</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A722A20-D801-4DAC-AA32-80052ADC87D4</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Konstantin Büschel</string>
	<key>description</key>
	<string>Simple workflow that allows you to browse and open Visual Studio Code projects.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Visual Studio Code</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>98</integer>
				<key>script</key>
				<string>/usr/local/bin/${vscodeEdition} {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8A722A20-D801-4DAC-AA32-80052ADC87D4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>98</integer>
				<key>script</key>
				<string>open -a Finder {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>76A26469-7BB5-46C5-ADFE-C95581EB9B95</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>vsc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading projects...</string>
				<key>script</key>
				<string>$nodePath vsc.js projects</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Load Visual Studio Code project</string>
				<key>title</key>
				<string>Visual Studio Code</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4DD30082-AABC-4CFA-8FC3-0738FA31C350</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>98</integer>
				<key>script</key>
				<string>open -a ${terminalApp:-Terminal} {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16C325FD-9D57-4988-9A88-CE69B2EF34FA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred Visual Studio Code Project Manager Workflow

Simple workflow that allows you to browse and open [Visual Studio Code](https://code.visualstudio.com/) projects.

* [Requirements](#requirements)
* [Installation](#installation)
* [Usage](#usage)

## Requirements

* [NodeJS](https://nodejs.org)
* [Visual Studio Code Project Manager](https://marketplace.visualstudio.com/items?itemName=alefragnani.project-manager)
* [Visual Studio Code Command Line](https://code.visualstudio.com/docs/setup/mac)
* [Alfred Powerpack](https://www.alfredapp.com/powerpack)

## Installation

Download the latest `VisualStudioCode.alfredworkflow` from [GitHub](https://github.com/konstantinbueschel/alfred-vs-code/releases) and import it in Alfred.

**Note for Insiders Edition users:** Remember to set the 'vscodeEdition' variable in Workflow Configuration to 'code-insiders'!

## Usage

Simply type `vsc` followed by space to list all projects. Optionally type a search string to filter results.

![alfred-vs-code](documentation/screenshot.png)

## Thanks!

Big Thanks to [Cloudstek](https://github.com/Cloudstek) for his [Alfred Atom Workflow](https://github.com/Cloudstek/alfred-atom) which I used as a base for this project.</string>
	<key>uidata</key>
	<dict>
		<key>16C325FD-9D57-4988-9A88-CE69B2EF34FA</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>4DD30082-AABC-4CFA-8FC3-0738FA31C350</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>76A26469-7BB5-46C5-ADFE-C95581EB9B95</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>8A722A20-D801-4DAC-AA32-80052ADC87D4</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>nodePath</key>
		<string>/usr/local/bin/node</string>
		<key>terminalApp</key>
		<string></string>
		<key>vscodeEdition</key>
		<string>code</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>terminalApp</string>
	</array>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/konstantinbueschel/alfred-vs-code</string>
</dict>
</plist>
